{{outlet}}
  Total products: {{ model.length }}
  {{input class="main-input" type="text" value=this.searchValue placeholder="Find your items"}}
  <div class="products">
  {{#each model as |productItem|}}
    <div class="product">
      {{ product-item product=productItem }}
    </div>
  {{/each}}
  </div>